html * {
  margin: 0;
  padding: 0;
}
a {
  list-style: none;
  color: black;
  /* width: 100%; */
  text-decoration: none;
}
li {
  list-style: none;
}
a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.menu-container {
  width: 252px;
  display: inline-flex;
  height: 572px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  justify-content: flex-start;
}

.menu-item {
  cursor: pointer;
  color: var(--Text, #1e0d03);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  opacity: 0.6;

  width: 252px;
  padding: 15px 16px 15px 24px;

  border-radius: 8px;
}
/* Định dạng các mục menu cấp 2 */
.submenu {
}
.submenu_2 {
}
.submenu-item {
}
.submenu-item_2 {
  display: none;
}
.submenu-item:hover .submenu-item_2 {
  display: block;
}
